.link {
  background-color: #AC4FC6;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
}

.link:hover {
  background-color: #6c337c;
}

.header {
  background: black;
}

.taskbar {
  background: #AC4FC6;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.logo {
  height: 100px; 
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center {
  margin: auto;
  width: 20%;
  padding: 10px;
}

#homeImage {
  height: 30px;
  padding: 10px;
  background-color: #AC4FC6;
}

#homeImage:hover {
  background-color: #6c337c;
}