#link {
  color: #888;
  text-decoration: none;
  position: inline;
  display: block;
  width: 250px;
}


.link {
  color: #888;
  text-decoration: none;
  position: inline;
  display: block;
  width: 250px;
}