<div style="text-align: center;display:inline-block;">
<div style="text-align:left;">
<h3>Create New Party</h3>

<p class="red" *ngIf="checkUnique">Party name already exists</p>
<form (submit)="onSelectCreate()">
    <div>
        <input id="partyName" name="name" #name="ngModel" [(ngModel)]="temp.name" placeholder="Party Name" required>
        <span class="red" *ngIf='name.valid == false'>Party name is required</span>
    </div>
    <div>
        <input id="accessKey" name="key" #key="ngModel" [(ngModel)]="temp.accessKey" placeholder="Access Key" minlength='3' required>
        <span class="red" *ngIf='key.valid == false'>Must be at least 3 characters</span>
    </div>
    <div>
        <input id="password" name="pw" #pw="ngModel" [(ngModel)]="temp.password" placeholder="Password" minlength='3' required>
        <span class="red" *ngIf='pw.valid == false'>Must be at least 3 characters</span>
    </div>
    <input type="submit" value='Create' [disabled]="!name.valid || !key.valid || !pw.valid">
</form>

<h3>DJ Existing Party</h3>
<input id="existingPartyName" placeholder="Party Name">
<input id="existingPartyPassword" placeholder="Password">
<button (click)= "onSelectView()">View</button>
</div>
</div>