ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 40%;
  }
   
  li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }
   
  li:last-child {
    border: none;
  }
   
  li span {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li span:hover {
    font-size: 30px;
    background: #f6f6f6;
  }