<style>
	.song-details{
		display:inline-block;
	}
	ul{
		list-style: none;
	}
</style>
<h2>Party: {{partyName}}</h2>
<h3>Access Key: {{accessKey}}</h3>
<button *ngIf="isDj" (click)="deleteParty()">Delete Party</button>
<ul class="songs">
	<div style="display: inline-block; margin-right: auto; margin-left: auto; text-align: center;">
  <li *ngFor="let song of songs">
   	<div class="song-details"><img src="https://image.ibb.co/jpaovH/Upbeat_Delete.png" *ngIf="isDj" (click)="onSelectDelete(song)"></div>
  	<div class="song-details"> {{song.name}} by {{song.artist}} </div>
		<div class="song-details"><b style="padding-left: 15px;">{{song.upcount}}</b>
    			<button style="padding-left: 5px;" id="iconUp" (click)="onSelectUpVote(song)" *ngIf="!checkUpVoted[partyid][song.artist][song.name]"></button>
    			<button style="padding-left: 5px;" id="iconUpD" (click)="onSelectUpVote(song)" *ngIf="checkUpVoted[partyid][song.artist][song.name]"></button>
    			<button id="iconDown" (click)="onSelectDownVote(song)" *ngIf="!checkDownVoted[partyid][song.artist][song.name]"></button>
    			<button id="iconDownD" (click)="onSelectDownVote(song)" *ngIf="checkDownVoted[partyid][song.artist][song.name]"></button>
		</div>
	</li>
	</div>
	<br>
	<p *ngIf="uniqueSong">Song has already been added</p>
	<p *ngIf="emptySong">Song name and artist required</p>
	<form (submit)="onAddSong()">
		<label for="">
			<input id="song" name="songName" [(ngModel)]="tempSong.name" placeholder="Song Name">
		</label>
		<label for="">
		<input id="artist" name="songArtist" [(ngModel)]="tempSong.artist" placeholder="Artist">
		</label>
		
		<input type="submit" value="Add">
	</form>
</ul>