<style>
	.song-details{
		display:inline-block;
	}
	ul{
		list-style: none;
	}
</style>
<h2>Party: {{partyName}}</h2>
<h3>Access Key: {{accessKey}}</h3>
<ul class="songs">
  <li *ngFor="let song of songs">
    <div class="song-details"><button *ngIf="isDj" (click)="onSelectDelete(song)">x</button></div>
  	<div class="song-details"> {{song.name}} by {{song.artist}} </div>
    <div class="song-details">{{song.upcount}}
    	<button (click)="onSelectUpVote(song)">^</button>
    	<button (click)="onSelectDownVote(song)">v</button>
    </div>
	</li>
	<div>
		<input id="song" placeholder="Song Name">
		<input id="artist" placeholder="Artist">
		<button (click)="onAddSong()">Add</button>
	</div>
</ul>
